/* CMSC 100 Lab Exercise 1: Github Pages 
Adrian B. Cueto
2020-02461
BS Computer Science */

body { /* styles the body */
    margin:15px;
    background-color:azure;
    font-family:"Arial";
}

#creatorname { /* styles the 'name and nickname' of the creator */
    padding:20px;
    border-radius:6px;
    text-align:center;
    background-color:#0C3DB0;
    color: #FFFF00;
}

h3 { /* style for the information questions */
    border:2px solid slateblue;
    border-radius:8px;
    background-color:#052C0A;	
    color:#d0fefe;
    margin:5px;
    padding:10px;
}

p { /* style for the personal information */
    padding:10px;
    background-color:#DCE775;
}